__pycache__/
*.py[cod]
*$py.class

venv/
.env

**/migrations/
!*/migrations/__init__.py

.vscode/
.idea/

*.log

staticfiles/
collected_static/

media/

*.pid
*.db
*.bak
*.swp
docker-compose.override.yml

.DS_Store
Thumbs.db

#*.sqlite3